---
import '@picocss/pico'
import Board from '../components/Board.svelte'
import Modal from '../components/Modal.svelte'
import Footer from '../components/Footer.astro'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Tic Tac Toe</title>
	</head>
	<body>
		<main>
			<h1>Tic Tac Toe</h1>
			<Board client:load />
			<Modal client:load />
		</main>
		<Footer />
	</body>
</html>

<style>
	:global(*) {
		margin: 0 !important;
	}

	body {
		display: grid;
		grid-template-rows: 1fr auto;
		height: 100dvh;
	}

	main {
		display: grid;
		place-content: center;
		place-items: center;
		gap: 1rem;
		padding: 0;
	}
</style>
